.contacts {
	background-image: url('../images/contacts-bg.png');

}

.contacts__container {
	padding-top: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.9) 100%);

}

.adress {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 139%;
	text-transform: uppercase;
	text-align: center;
	color: #e3b873;
}

.contacts__icons {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 43px;
}

.mail {
	width: 28px;
	height: 28px;
	border-radius: 50px;
	border: 1px solid #e3b873;
	background-color: #e3b873;
	background-image: url('../images/mail.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.inst {
	width: 28px;
	height: 28px;
	border-radius: 50px;
	border: 1px solid #e3b873;
	background-color: #e3b873;
	background-image: url('../images/inst.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.contacts__location {
	background-image: url('../images/map.png');
	width: 925px;
	height: 465px;
	margin-bottom: 65px;
}