.questions {
	padding: 0px 288px;
	margin-bottom: -250px;
	z-index: 1;
}

.questions__form {
	background-color: #131313;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 34px 181px;
}

.questions__contacts {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.question {
	width: 100%;
}



.questions__contacts .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

.questions__form input {
	background-color: #131313;
  	color: white;
}

.question input {
	width: 100%;
}

.questions__form .form-group input::placeholder {
	color: white;
	font-weight: 400;
	font-size: 14px;
	line-height: 164%;
	color: #fff;
}

.questions__form .agreement .checkbox__label {
	color: white;
}

.questions__form .form__btn {
	margin-top: 30px;
}

.questions__form h3 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 139%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.questions__form .agreement .label .text {
	color: white;
}

.questions__form .agreement {
	margin: 30px 0px;
}